body {
  font-size: 12px;
  background: #ccc;
  font-family: 'Helvetica', 'Arial', Sans;
}
.content {
  text-align: justify;
  margin: 0 auto;
  width: 320px;
}
h1 {
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
  margin: 10px 0;
}
#description {
  margin: 10px 0;
  line-height: 18px;
  color: #666;
}
a {
  color: #888;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#wrapper {
  background: #fff;
  margin: 0 auto;
  width: 320px;
  height: 480px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.prescore-wrapper {
  margin-top: -46px;
  margin-bottom: 11px;
  text-align: right;
  padding-right: 10px;
  color: #999;
}
#prescore {
  padding-left: 10px;
}
.score-wrapper {
  text-align: right;
  padding-right: 10px;
  color: #999;
}
#score {
  padding-left: 10px;
}
.top-wrapper {
  margin-top: 15px;
  padding-right: 10px;
  text-align: right;
  color: #FFF;
}
#top {
  padding-left: 10px;
}

.social-media {
  margin-top: 25px;
}

.social-media .self, .social-media .twitter, .social-media .facebook {
  display: block;
  float: left;
  padding: 0px;
  overflow: hidden;
}

.social-media .self{
  padding-top: 5px;
  width: 101px;
  color: #aaa;
  text-align: right;
  padding-right: 5px;
}
.self a {
  color: #999;
}

.social-media .facebook{
  width: 106px;
}

.social-media .twitter{
  width: 106px;
}
